body {
    background-image: url("https://image.freepik.com/free-vector/abstract-triangle-mosaic-background-design_1164-1262.jpg");
    background-color: #cccccc;
/*    opacity: 0.6;*/

}

.jumbotron{
	background-color: #F0F0F0;
	margin-top: 10vw;
	margin-bottom: 10vw;


}

.well{
    background-color: #FFFFFF;
}

h1 {
  font-size: 5.9vw !important;
}

h2 {
  font-size: 3.0vw !important;
}

h4 {
  font-size: 2.4.0vw !important;
}

.text-resp {
	font-size: 2vw !important;
}